<div class="row">
  <div class="profile-bg bit-border orange-gray">


    <div class="avatar">
      <%= link_to t('.show', :default => t("helpers.links.show")),
                  character_templates_path, :class => 'btn btn-default btn-xs' %>
    </div>

  </div>

</div>