
<%= f.error_notification %>

<div class="row">
  <div class="col-md-3">
    <div class="gold_field">
    <h3>Золото:</h3>
      <%= f.input :gold, label: false, input_html: {min: '0', step: 'any', class: 'form-control'} %>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-7">

    <%= f.simple_fields_for :item_templates, f.object.item_templates.build do |ff| %>
        <!--TODO ДОБАВИТЬ КНОПКИ УДАЛЕНИЯ ПОЛЕЙ-->
        <div class="item_modal_buttons item_table">
          <div class="add_items_header"><h4>Предметы: <%= link_to_add_item_fields '<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>', f, :item_templates, 'item_table',
                                                    id: 'add-item-btn', class: 'btn btn-bit green' %></h4></div>
          <!--Сюда вставляем миниатюры-->
        </div>
    <% end %>
  </div>
</div>
