@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

$main_color: orange;
//#20899a
$hover_color: #3dc2eb;
$background_panel_color: #343434;
$green_btn: #165a3a;

html {
  height: 100%;
  background-color: #1d6c7b;
  background-image: -webkit-radial-gradient(circle, #78a4b0 0%, #195c6a 50%, #0d2253 100%);
  background-image: radial-gradient(circle, #78a4b0 0%, #195c6a 50%, #0d2253 100%);
}

body {
  height: inherit;
  color: $main_color;
}

.container-table {
  height: 85%;
  z-index: 10;
}

.navbar-brand {
  color: $main_color !important;
}

.navbar-brand:hover {
  color: $hover_color !important;
}

body {
  font: 18px "Press start 2P";
  background: transparent;

  background-size: 100%;
}

.container-table {
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

/***********************
  RAILS FLASH
************************/

.rails-flash {
  position: fixed;
  right: -300px;
  width: 300px;
  height: 200px;
  font-size: 12px;
  z-index: 100000;
}

.alert-danger, .alert-success, .alert-warning, .alert-info {
  background: $background_panel_color;
  font: 1.4em "Press start 2P";
}

/***********************
  LOGIN FRAME AND BIT BORDER
************************/

.bit-border {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

@mixin other( $width, $color, $bgcolor ) {
  box-shadow: 4*$width 0 $bgcolor,
  -4*$width 0 $bgcolor,
  0 (-4*$width) $bgcolor,
  0 4*$width $bgcolor,
  $width 0 0 2*$width $bgcolor,
  -$width 0 0 2*$width $bgcolor,
  0 (-$width) 0 2*$width $bgcolor,
  0 $width 0 2*$width $bgcolor,
  5*$width 0 $color,
  -5*$width 0 $color,
  0 (-5*$width) $color,
  0 5*$width $color,
  0 0 0 3*$width $color,
  0 2*$width 0 2*$width $color,
  0 (-2*$width) 0 2*$width $color,
  2*$width 0 0 2*$width $color,
          (-2*$width) 0 0 2*$width $color;
  margin: 5*$width auto;
}

.orange-gray {
  @include other(6px, $main_color, $background_panel_color);
}

.loginpanel {
  background: $background_panel_color;
  min-width: 300px;
  width: 30%;

  .control-label {
    display: block;
    text-align: left;
  }

  .panelheader {
    padding: 15px;
    border-bottom: 1px solid $background_panel_color;
    border-top: 1px solid $background_panel_color;
    background: $background_panel_color;
    position: relative;
  }

  .panelheader h2 {
    font-size: 28px;
    color: $main_color;
    letter-spacing: -0.5px;
    margin: 0;
  }

  .panelheader .glyphicon,
  .panelheader .fa {
    font-size: 20px;
    margin-right: 5px;
    padding: 9px 6px;
    border: 2px solid #1D2939;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  .panelheader .fa.fa-pencil {
    padding: 6px 9px;
  }

  .panelheader .fa.fa-hand-o-up {
    padding: 6px 9px 6px 7px;
  }

  .panelheader .fa-file-o {
    padding: 6px 10px;
  }

  .panelheader .fa-user {
    padding: 6px 10px;
  }

  .panelheader .fa-file-text {
    padding: 6px 10px;
  }

  .panelheader .fa-map-marker {
    padding: 6px 12px;
  }

  .panelheader .fa-dollar {
    padding: 6px 12px;
  }

  .panelheader .fa-clock-o {
    padding: 6px 8px;
  }

  .panelheader h2 span {
    font-size: 13px;
    text-transform: none;
    color: #999;
    font-style: italic;
    vertical-align: middle;
    letter-spacing: 0;
  }

  .panelheader h2 span::before {
    content: '/';
    margin: 0 10px 0 5px;
    color: #ccc;
  }

  .panelheader .breadcrumb-wrapper {
    position: absolute;
    top: 23px;
    right: 25px;
  }

  .panelheader .breadcrumb-wrapper .label {
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
  }

  .panelheader .breadcrumb {
    background: none;
    display: inline-block;
    padding: 0;
  }

  .panelheader .breadcrumb li {
    font-size: 12px;
  }

  .panelheader .breadcrumb li.active {
    color: #333;
  }

  .contentpanel {
    padding: 20px;
    position: relative;
  }

  .contentpanel::after {
    clear: both;
    display: block;
    content: '';
  }

}

/***********************
  LOGIN FIRE
************************/

.fire {
  margin-bottom: 15px;
}

.fire:before {
  content: "";
  position: absolute;
  background: url('zelda_fire_render.gif');
  height: 50px;
  width: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: -120px;
}

.fire:after {
  content: "";
  position: absolute;
  background: url('zelda_fire_render.gif');
  height: 50px;
  width: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 70px;

}

/***********************
  CUSTOM BTN VALUES
************************/

.btn {
  padding: 14px 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-lg {
  margin: 5px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 6px;
  padding: 12px 22px;
}

.btn-tn {
  margin: 5px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 6px;
  padding: 1px;
}

.btn.outline {
  background: $background_panel_color;
}

.btn.green {
  background: $green_btn;
}

.btn.red {
  background: #7c0f16;
}

.btn.trans {
  background: transparent;
}

.btn-bit.red, .btn-bit.green, .btn-bit.outline {
  border: 2px solid $main_color;
  color: $main_color;
}

.btn-bit:hover, .btn-bit:focus, .btn-bit:active, .open > .dropdown-toggle.btn-bit {
  color: $hover_color;
  border-color: $hover_color;
}

.btn-bit:active, .btn-bit.active {
  border-color: $main_color;
  color: $main_color;
  box-shadow: none;
}

/***********************
    UPLOAD STYLE
************************/

.avatar {
  .preview {
    display: block;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border: 2px solid $main_color;
    overflow: hidden;
  }

  .file-upload-wrapper {
    position: relative;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
    z-index: 5;
    display: block;
  }

  .file-upload-native,
  .file-upload-text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
  }

  .file-upload-native:focus,
  .file-upload-text:focus {
    outline: none;
  }

  .file-upload-text {
    z-index: 10;
    padding: 5px 15px 8px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    color: $main_color;
    background-color: $green_btn;
    border: 0;

  }

  .file-upload-native {
    z-index: 15;
    opacity: 0;
  }

  textarea, input {
    border: none;
    background-color: transparent;
    resize: none;
  }
}

/***********************
  ПОЛОВИНУ НАДО УБРАТь
************************/

.image {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
}

.close {
  display: none;
}

.profile-bg {
  background: $background_panel_color;
  height: 90%;
}

.content {
  margin-top: 20px;
  margin-bottom: 50px;
}

.page-header {
  border-bottom: 2px solid $main_color;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

/***********************
  MODAL
************************/

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal-dialog {
  display: inline-block;
  width: 80%;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
  background: $background_panel_color;
  border: none;
}

.modal-footer {
  border-top: 2px solid $main_color;
}

.close {
  color: $main_color;
  opacity: 1;
}

.close:hover {
  color: $hover_color;
}

.modal-header {
  border-bottom: none;
}

.table > tbody > tr > td {
  text-align: center;
  border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: $background_panel_color;
  color: $main_color;
  border: 2px solid $main_color;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus {
  color: $main_color;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background: $background_panel_color;
  color: $hover_color;
  border-color: transparent;
}

.nav-tabs {
  border-bottom: 2px solid $main_color;
}

/***********************
  BOOTSTRAP SLIDER
************************/

.slider-selection {
  background: orange;

}

.slider-handle {
  -webkit-box-shadow: none;
}

.slider-handle.custom {
  width: 25px;
  height: 25px;
  background: transparent;
  content: url(sword.png);
}

/***********************
 ITEM "TABLE"
************************/
.table-bordered {
  border: 2px solid orange;
}

.item_table {
  display: inline-table;
  width: 100%;
  text-align: left;
  border: 2px solid orange;

  .resist_item {
    display: table-cell;
    div {
      width: 150px;
      display: inline-block !important
    }
  }

  .fields {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin: 5px;

    .remove {
      display: none;
    }

    .item_content, .dropdown {
      display: inline-block;
      width: 100%;
      height: 100%;

      .img-wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
    .add_items_header {
      width: 100%;
      padding: 6px;
      border-bottom: 2px solid orange;

      h4 {
        display: inline-block;
        padding-left: 10px;
      }

      .space {
        display: inline-block;
        width: 33%;
      }

      .input {
        display: inline-block;
      }
    }

}

/***********************
 ATTACK TYPES TABLE
************************/

#attack_types_table {
  .remove {
    width: 50px;
    text-align: center;
    vertical-align: middle;
  }
}

/***********************
 TABLE
************************/

.table {
  font-size: 14px;

  .item {
    div {
      display: inline-block !important
    }
  }

  .fields {
    background-color: #343434 !important;
  }
}