.image{
  display: inline-block;
  position: relative;
  margin: 5px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
}

.close{
  display: none;
}

.profile-bg{
  background: #343434;
}

.page-header {
  border-bottom: 2px solid orange;
}

.avatar-bar{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content{
  background: #343434;
  border: none;
}

.table>tbody>tr>td {
  border: none;
}


.modal-header{
  border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background: #343434;
  color: orange;
  border: 2px solid orange;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
  color: orange;
}

.nav-tabs>li>a:hover,.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  background: #343434;
  color: #3dc2eb;
  border-color: transparent;
}

.nav-tabs {
  border-bottom: 2px solid orange;
}

.modal-footer{
  border-top: 2px solid orange ;
}

.close {
  color: orange;
  opacity: 1;
}

.close:hover{
  color: #3dc2eb;
}
