<div class="file-upload-wrapper btn btn-bit btn-lg green">
      <%= f.input :image_content, as: :file, label: false, input_html: {class: 'file-upload-native', accept: 'image/*'} %>
      <input type="text" disabled placeholder="загрузить" class="file-upload-text" />
</div>